@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* html{
    overflow: hidden;
} */
body{
    background-color:#FFE3CA ;
}

.landing_main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg, #5e2e01cb 0%, rgba(255, 190, 130, 0.75) 100%);

    /* border: 1px solid black; */
}
.landing_main img.back{
    height: 100vh;
    width: 100vw;
    opacity: 0.7;
    position: absolute;
    filter: blur(2px);
    z-index: -1;
}
.landing_main .header{
    width: 100vw;
    padding: 2rem;
}
.landing_main .header>span{
    font-size: 27px;
    font-weight: 800;
    color: rgba(255, 227, 202, 1);
    ;
}
.p-menu1{
    height: 100%;
 }
 
 
 
 
 /* Hamburger */
 .hamburger1 {
   position: absolute;
   top: 1em;
   right: 1em;
   height: 40px;
   margin: 10px;
   display: -ms-grid;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   justify-items: center;
   z-index: 120;
   clear: left;
   /* background: #FFE3CA;
   width: 3.7em;
   height: 3.7em;
   padding:1em;
   border-radius: 50%;
   cursor: pointer; */
   /* z-index: 120; */
 }
 
 .hamburger1 div {
   background-color: #FFE3CA;
   position: relative;
   width: 40px;
   height: 5px;
   margin-top: 7px;
   border-radius: 50px;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   transform: translateX(-.4em);
 }
 
 /* .hamburger1 div:nth-of-type(1){
     margin-top: 0;
 } */
 #toggle1 {
   display: none;
 }
 
 #toggle1:checked + .hamburger1 .top {
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
   margin-top: 10px;
 }
 
 #toggle1:checked + .hamburger1 .meat {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
   margin-top: -2px;
 }
 
 #toggle1:checked + .hamburger1 .bottom {
   -webkit-transform: scale(0);
           transform: scale(0);
 }
 
 #toggle1:checked ~ .menu1 {
   height: 100vh;
 }
 
 
 /* Menu */
 .menu1 {
     position: absolute;
   width: 100vw;
   background-color: #683200;
 /*   padding: 5em 0em; */
   display: -ms-grid;
   display: grid;
   grid-template-rows: 1fr repeat(4, 0.5fr);
   grid-row-gap: 25px;
   padding: 0;
   list-style: none;
   clear: both;
   /* width: auto; */
   text-align: center;
   height: 0;
   overflow: scroll;
   overflow-x:hidden;
 /*   overflow-y: hidden; */
   scroll-behavior: smooth;
   transition: height .4s ease;
   z-index: 100;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
   color: #FFE3CA;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.menu1 a:first-child {
    margin-top: 5em;
}

.menu1 a:last-child {
    margin-bottom: 40px;
}

.link1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFE3CA;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    font: 700 20px 'Poppins', sans-serif;
 }
 
 .link1:hover {
   background-color: #FFE3CA;
   color: #683200;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }
.landing_main  .landing_headline{
    position: absolute;
    transform: translateY(-130px);
}
.landing_headline>div:nth-of-type(1){
    position: absolute;
    width: 160px;
    height: 30px;
    left: 52px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #FFE8D3;

}
.landing_headline>div:nth-of-type(2){
    position: absolute;
    width: 278px;
    height: 122px;
    left: 50px;
    top: 240px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 61px;

    color: #FFE7D0;
}
.landing_main>button{
    position: absolute;
width: 227px;
height: 53px;
left: 67px;
top: 460px;

background: #683200;
box-shadow: 6px 7px 20px rgba(0, 0, 0, 0.36);
border-radius: 26.5px;
z-index: 1;
border: none;
color: #FFE3CA ;
font-weight: 600;
font-size: 20px;
}
.landing_main .bottom_curve{
    background-image: url(/img/landingpage/Subtract.png);
    position: absolute;
width: 360px;
height: 278px;
left: 0px;
top: 470px;
/* border: 1px solid black; */

}
.landing_main .bottom_curve .explore{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 119px;
    top: 80px;
    line-height: .7;
}
.landing_main .bottom_curve .explore>span:nth-of-type(1){
    font-weight: 500px;
    font-size: 15px;
}
.landing_main .bottom_curve .explore>span:nth-of-type(2){
    font-weight: 700;
    font-size: 29px;
}

.landing_main .bottom_curve .explore>img{
    margin-top: 15px;
    filter: drop-shadow(5px 5px 10px rgba(79, 38, 1, 0.21));

}


/* Landing page 2---->>> */

.landing_content{
    position: relative;
    padding: .5rem;
    margin-bottom:5em;
    width: 100%;
    height: fit-content;
    background: #FFE3CA;
    /* border: 1px solid black; */
    
}
.landing_content .choose_head{
    position: relative;
    width: fit-content;
    height: 41px;
    left: 40px;
    top: 20px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 40px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #683200;
}
.landing_content img.choose_img{
    position: absolute;
width: 195.67px;
height: 130.88px;
left: 26px;
top: 10px;
transform: translate(-30px, -30px);
}
.landing_content .choose_details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;
    height: fit-content;
    top: 3em;
    /* border: 1px solid black; */
}
.landing_content .choose_details .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 2em 0px;
    width: 280px;
    height: fit-content;
    background: #FFF4EA;
    box-shadow: 5px 5px 30px rgba(104, 50, 0, 0.151);
    border-radius: 19px;
    text-align: center;
}
.landing_content .choose_details .box .box_conainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_content .choose_details .box .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.7em;
}
.landing_content .choose_details .box .txt .txt_hd{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 4px;
    text-transform: capitalize;
    color: #4D2500;
}
.landing_content .choose_details .box .txt .txt_bd{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(76, 37, 0, 0.25);
    margin-bottom: 1em;
}

.choose_details>.box1 img, .choose_details>.box2 img, .choose_details>.box3 img{
    width: 73px;
}

/* Background dishes goes here----->>>> */

.landing_content .bg_dishes{
    position: absolute;
}
.landing_content .bg_dishes:nth-of-type(1){
    position: absolute;
    top: 15em;
    width: 113px;
    height: 142px;
}
.landing_content .bg_dishes:nth-of-type(2){
    top: 26em;
    right: 0;
    width: 11em;
}
.landing_content .bg_dishes:nth-of-type(3){
    top: 47em;
    width: 8em;
    transform: rotate(100deg);
}

/* Search Section----->>>> */



.search{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 506px;
    width: 100%;
    padding: 1rem;
    background-position: center;
    background-size: cover;
    background: black;
    padding: 0;
    margin: 0;
    
}

.search_bg{
    position: absolute;
}

.search_bg>.overlay{
    background-color: rgba(0, 0, 0, 0.55);
    /* z-index: -1; */
}

.search>.search_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.55;
}

.search .search_bar{
    /* position: relative; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(217, 217, 217, 20%);
    z-index: 3;
    margin-top: 4.4em;
    margin-left: 1.66em;
    margin-right: 1.66em;
    /* margin: 4.4em 1.66em; */
    width: 90%;
    max-width: fit-content;
    border-radius: 60px;
    height: 5em;
    border: 2px solid rgba(255, 255, 255, 0.53);
    backdrop-filter: blur(4px);
}

.search .search_bar input{
    background: transparent;
    flex: 1;
    border: 0;
    width: 100%;
    outline: none;
    padding: 1.6em 1.33333em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    /* border: 1px solid #ffff; */
    z-index:4 ;
}
 .search .search_bar button img{
    width: 1.33em;
    height: 1.33em;
}
.search .search_bar button{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(.5em);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 255, 255, 35%);
    cursor:pointer;
}
.search .search_bar button:focus{
    border: 2px solid #fff;
}
::placeholder{
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: .2em;
    font-size: 14px;
}
.search .popular{
    position: relative;
    margin-top: 4.13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search .popular h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 1.666667em;
}
.search .popular .searches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.search .popular .searches button{
    background: none;
    border: 2px solid rgb(255, 255, 255, 50%);
    border-radius: 35px;
    color: #fff;
    padding: 1.2em 2em;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .2em;
    margin: .5em;
    margin-bottom: 1em;
}
.search .popular .searches button:nth-of-type(4), .search .popular .searches button:nth-of-type(5), .search .popular .searches button:nth-of-type(6){
    padding: 1.2em 1em;
    font-size: 11px;

}
.search .popular .searches button:focus{
    border: 2px solid #fff;
}

/* App Call To Action---->>>> */

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.app>img:nth-of-type(1){
    width: 133px;
height: 129px;
    position: relative;
    transform: translate(-9em, -1.5em);
    z-index: -3;
    filter: drop-shadow(0px 5px 17px rgba(77, 37, 0, 0.25));
}
.app .head{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgba(63, 30, 0, 1);
}
.app .head span{
    font-size: 35px;
    color: #B17034;
}
.app .googleplay, .app .appstore{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 8px;
    padding: .5em 1em;
    height: 4.2;
    width: 14.0666em;
    color: #fff;
}
.app .googleplay div:nth-of-type(2), .app .appstore div:nth-of-type(2){
    margin: .53em;
    margin-top: 0;
}
.app .googleplay div:nth-of-type(2) span:nth-of-type(1), .app .appstore div:nth-of-type(2) span:nth-of-type(1) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: .53em;
}
.app .googleplay div:nth-of-type(2) span:nth-of-type(2){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    /* line-height: 32px; */
    margin: 0;
    line-height: 0;
}
.app .appstore div:nth-of-type(2) span:nth-of-type(2){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    line-height: 0px;
}
.app>img:nth-of-type(2){
    position: relative;
    transform: translate(8.5em, -1em);
    z-index: -3;
    
}
button, a, a:link, a:visited, a:active{
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
    text-decoration: inherit;
    color: inherit;
}
a:active{
    text-decoration: none;
    color: inherit;
}

/* Footer----->>>>>>> */

footer{
    height: 21.4em;
    width: 100%;
    background-color: #fff;
    border-radius: 35px 35px 0px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .head span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 38px;
    margin-top: .7em;
    margin-bottom: 0.876em;
    color: #B17034; 
}
footer .head .social_media a img{
    width: 1.5em;
    height: 1.5em;
    margin-left: 3.33em;
}
footer .head .social_media a:nth-of-type(1) img{
    margin-left: 0;
}
footer .info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
footer .info .menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer .info .menu div:nth-of-type(1){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #656565;
}
footer .info .menu div:nth-of-type(2) ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    
    color: rgba(101, 101, 101, 0.55);
    
}
footer .info .further_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2em;
}
footer .info .further_info div:nth-of-type(1){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #656565;
}
footer .info .further_info div:nth-of-type(2) ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: rgba(101, 101, 101, 0.55);
}
ul,li{
    list-style: none;
}
footer .copyr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.8em;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    color: #797979;
}